body {
	margin:0;
	padding: 0;
	font-family: arial,sans-serif;

}

.google {
	width: 120px;
	height: 44px;
	padding-left: 13px;
	padding-right: 12px;
	padding-top: 20px;

}

.topfooter1 {
	display: flex;
	background-color: #FAFAFA;
	margin:0;
	padding-bottom: 56px;
	border-bottom: 1px solid #E4E4E4;
}

.search {
	border:0.5px solid #EAEAEA;
	width: 632px;
	height: 44px;
	box-shadow: 0px 1.5px 3px 1px #CBCBCB;
	margin-top: 20px;
	background-color: #FFFFFF;
}

.search-inner {
	border: 0; 
	background-color: #FFFFFF;
	z-index: 1;	
	width: 330px;
	height: 28px;
	top: 30px;
	left: 155px;
	position: absolute;	
	font: 16px arial,sans-serif;
}

.kirjaudu {
	background-color: #4683EA;
	margin-left: 5px;
	position: absolute;
	right: 20px;
	padding: 10px;
	width: 99px; 
	margin-top: 20px;
}

.kirjaudu a {
	list-style-type: none;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	font-family: arial,sans-serif;
}

.firstnav {	 
	list-style-type: none;
	margin: 0;
	margin-left: 150px;
 	margin-top: 89px;
  	padding: 0;
  	position: absolute; 
}

.firstnav li {
	display: inline-flex;

}

.firstnav a {
	text-decoration: none;
	color: #7F7F7F;
	font-size: 13px;
}

#kaikki {
	border-bottom: 3px solid #1A73E8;
	color: #1A73E8;
	font-weight: bold;
	height: 15px;
	width: 38px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 11px;
	line-height: 12px;
}

.muut {
	padding-left: 12px;
	padding-right: 12px;
}

#asetukset {
	padding-right: 25px;
	padding-left: 140px;
}


.middle {
	margin-left: 160px;
	width: 600px;

}

span {
	margin-top: 10px;
	position: relative;
	color: rgb(128,128,128);
	font-size: 13px;
}

.tulosta {
	top: 5px;
}



.block1 {
	position: absolute;
	margin-top: 30px;
	width: 600px;

}

.paraheader {
	text-decoration: none;
	color: #1a0dab;
	font-size: 18px;
}

cite {
	font-size: 14px;
	font-style: normal;
	color: #006621;
}

.käännä {
	font-size: 14px;
	color: #1a0dab;
	text-decoration: none;
	padding-left: 5px;
}

.datespan {
	color: rgb(128,128,128);
	font-size: 13px;
	margin: 0; 

}


.para1 {
	font-size: small;
	color: #545454;

}

.block2 {
	margin-top: 160px;
}

.block3 {
	margin-top: 20px;
}

.block4 {
	margin-top: 26px;
}

.blocklinks {
	text-decoration: none;
	font-size: small;
	color: #1a0dab; 
}

.block5 {
	margin-top: 26px;
}

.block6 {
	margin-top: 26px;
}

.block7 {
	margin-top: 26px;
}

.block8 {
	margin-top: 26px;
}

.block9 {
	margin-top: 26px;
}




.vidblock1 {
	margin-top: 26px;
}


.img1 {
	width: 116px;
	height: 87px;
	margin-top: -11px;
}

.crop {
	height: 68px;
	display: inline-block;
	overflow: hidden;
	margin-top: 2px;
}

.vidcite {
	position: absolute;
	margin-left: 6px;
	margin-top: 3px;
}

.viddatespan {
	position: absolute;
	margin-left: 6px;
	margin-top: 20px;
}

.vidpara {
	font-size: small;
	color: #545454;
	position: absolute;
	margin-top: 34px;
	margin-left: 6px;
}

.finalblock {
	margin-top: 26px;
}

.aiheeseen {
	font-size: 18px;
	color: #222;
}



.botlist {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 16px;
	
	
}

.botlist li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#botlista {
	text-decoration: none;
	font-weight: bold;
	color: #1a0dab;
	font-size: 14px;

}

.botlistright {
	margin: 0;
	padding: 0;
	list-style-type: none;
	bottom: 108px;
	left: 250px;
	position: relative; 
}

.botlistright li {
	padding-top: 5px;
	padding-bottom: 5px;
}



.botfooter {
	background-color: #f2f2f2;
	height: 83px;
}

.botfooter1 {
	height: 42px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;

}

.botfooter1ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 160px;
	height: 42px;
}

.botfooter1ul li {
	height: 42px;
	line-height: 40px;
	color: rgba(0,0,0,.54);
	font-size: 15px;
}

.internet {
	margin-left: 225px;
	position: absolute;
	top: 1540px;
	height: 25px;
	border-left: 1px solid #e4e4e4;
	padding-left: 20px;
}

.internet span {
	color: #aaa;
}

.ballspan {
	border-radius: 100%;
	width: 10px;
	background: #9e9e9e;
	display: inline-block;
	height: 10px;
}


.botfooter1ul2 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 480px;
	position: absolute;
	top: 1546px;


}

.botfooter1ul2 li {
	display: inline-block;
}

.botfooter1ul2a {
	text-decoration: none;
	font-size: small;
	color: #777;

}



.botfooter2ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-left: 160px;

}

.botfooter2ul li {
	display: inline-block;
	line-height: 40px;
}

.botfooter2ul a {
	text-decoration: none;
	font-size: small;
	color: #777;
	padding-left: 27px;
}

#ohje {
	padding-left: 0; 
}